.section.hero {
    .typography {
        padding-right: 1em;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5vw;
        .custom-image{
            border-radius: 3px;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            animation: popOut 0.1s forwards;
        }
    }
}