.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 2em;
}

.recipe-card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);

    .recipe-card-info {
        padding: 15px;
    }

    .custom-image {
        z-index: -1;
    }

    .author-img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid var(--background-color);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }

    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-top: .25em;
        margin-bottom: .25em;
        color: var(--text-color);
        padding-left: .75em;
    }
    .recipe-desc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .75em;
    }

    .view-btn{
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block;
        padding-bottom: .75em;
        padding-left: 1em;
    }

}